/* Resetando margens e padding globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden; /* Evita o overflow horizontal */
}

body {
    font-family: Arial, sans-serif;
    padding: 20px 0; /* Remove o padding nas laterais */
    background-color: #80186e; /* Mantém a cor de fundo */
    color: #7f078f; /* Cor do texto branca para o corpo */
}

.container, .section, .section-comprovacoes {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto; /* Centraliza o contêiner */
    background-color: #000000;
    padding: 20px;
    box-shadow: 0 0 10px rgb(83, 3, 99);
    color: #9b0808; /* Cor do texto branca para esses containers */
}

.carousel-item img {
    height: 70vh; /* Ajuste a altura para que corresponda ao design desejado */
    object-fit: contain; /* Garante que a imagem inteira seja visível, sem cortes */
    width: 100%; /* Garante que a imagem ocupe toda a largura disponível */
    background-color: #000000; /* Cor de fundo para preencher qualquer espaço vazio */
}

@media (max-width: 768px) {
    .carousel-item img {
        height: 50vh; /* Ajuste para dispositivos móveis */
    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(4); /* Altera a cor das setas para combinar com seu design */
}

.container img, 
.section img, 
.section-comprovacoes img {
    width: 100%;
    max-width: 400px; /* Limite máximo para evitar que a imagem cubra toda a tela */
    height: auto;
    margin-right: 20px;
    flex-shrink: 0;
    object-fit: cover;
}

.content, .section-content {
    max-width: 600px;
    flex-grow: 1;
    text-align: left;
}

.content h1, .section-content h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

.content p, .section-content p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.content ul {
    list-style-type: disc;
    margin-left: 20px;
}

.content ul li {
    margin-bottom: 5px;
}

.comprovacoes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.comprovacao-item {
    display: flex;
    align-items: center;
    background-color: #0a0101;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgb(238, 238, 238);
    color: #ffffff; /* Cor do texto branca para a seção de comprovações */
}

.comprovacao-item img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 8px;
    object-fit: cover;
}

.comprovacao-description {
    flex-grow: 1;
}

.comprovacao-description p {
    margin: 0;
    font-size: 16px;
    color: #f0e9e9; /* Cor do texto branca para a descrição das comprovações */
}

.section-personagens {
    margin-top: 40px;
}

.personagens-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.personagem-item {
    background-color: #145c97;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgb(248, 245, 245);
}

.personagem-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.personagem-description {
    padding: 15px;
}

.personagem-description p {
    margin: 0;
    font-size: 14px;
}

@media (max-width: 768px) {
    .personagens-grid {
        grid-template-columns: 1fr;
    }
}

#orcamento {
    background-color: #000305; /* Cor de fundo suave */
    padding: 60px 0; /* Espaçamento vertical */
    color: #fdfcf9; /* Cor do texto branca para a seção de orçamento */
}

#orcamento h2 {
    color: #fdfcf9; /* Cor do título */
    margin-bottom: 20px;
}

#orcamento p {
    color: #f0e9e9; /* Cor do texto */
    font-size: 16px;
}

#orcamento .btn-primary {
    background-color: #e6dce1; /* Cor do botão */
    border-color: #dee2e6;
}

#orcamento img {
    max-width: 100%; /* Certifica-se de que a imagem não ultrapasse o limite */
    border-radius: 44px; /* Cantos arredondados */
}

#contato {
    background-color: #9c8feb; /* Cor de fundo suave */
    padding: 50px 0; /* Espaçamento vertical */
    color: #f0e9e9; /* Cor do texto branca para a seção de contato */
}

#contato h2 {
    color: #da54d3; /* Cor do título */
    margin-bottom: 30px;
}

#contato p {
    color: #e7d2d2; /* Cor do texto */
    font-size: 26px;
}

.social-icon img {
    width: 30px; 
    height: 30px; 
}

.social-icon img {
    transition: transform 0.3s ease;
}

.social-icon img:hover {
    transform: scale(1.1); /* Aumenta o ícone ao passar o mouse */
}

#musicPlayer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#musicPlayer button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.2s ease; /* Adiciona uma transição suave */
}

/* Estilo 3D para o botão play/pause */
#playButton {
    background: linear-gradient(135deg, #420242, #860cdd); /* Gradiente roxo */
    border-radius: 50%; /* Faz o botão circular */
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(224, 91, 180, 0); /* Sombra para o efeito 3D */
}

#playButton:hover {
    transform: scale(1.2); /* Aumenta o botão ao passar o mouse */
}